<!DOCTYPE html>
<html>

  <body>
    <h2> Recipe Index </h2>
        <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <% @recipes.each do |recipe| %>
            <li class="list-group-item"><%= link_to recipe.title, recipe_path(recipe.id) %></li>
            <% end %>
        </ul>
        </div>
  </body>
</html>