<%# <h1> Find a Recipe for: </h1> %>
<div class="row">
  <div class="card" style="width: 22rem; ">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1574756578199-fbcd885865fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Breakfast</h5>
      <p class="card-text">Start your day off right!</p>
      <a href="/meals/1" class="btn btn-secondary">Go to Breakfasts</a></a>
    </div>
  </div> 

  <div class="card" style="width: 22rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1559466273-d95e72debaf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Lunch</h5>
      <p class="card-text">Let's do Lunch</p>
      <a href="/meals/2" class="btn btn-secondary">Go to Lunches</a></a>
    </div>
  </div> 

  <div class="card" style="width: 22rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1551809727-fa6cc87641a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dinner</h5>
      <p class="card-text">Dinner is Better When We Eat Together</p>
      <a href="/meals/3" class="btn btn-secondary">Go to Dinners</a></a>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1514517220017-8ce97a34a7b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dessert</h5>
      <p class="card-text">Save Room for Dessert!</p>
      <a href="/meals/4" class="btn btn-secondary">Go to Desserts</a></a>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1513558161293-cdaf765ed2fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Drinks</h5>
      <p class="card-text">Drink Happy Thoughts</p>
      <a href="/meals/5" class="btn btn-secondary">Go to Drinks</a></a>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1516100970402-530cfdf696d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Appetizers</h5>
      <p class="card-text">Soups, Salads, and Snacks</p>
      <a href="/meals/6" class="btn btn-secondary">Go to Appetizers</a></a>
    </div>
  </div>