<h1> Find a Recipe for: </h1>

<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1567977701640-3b6cf5037f19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Breakfast</h5>
      <p class="card-text">Start your day off right!<br></p>
      <a href="/meals/1" class="btn btn-primary">Go to Breakfasts</a></a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1567977701640-3b6cf5037f19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Lunch</h5>
      <p class="card-text">Let's do Lunch<br></p>
      <a href="/meals/1" class="btn btn-primary">Go to Breakfasts</a></a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1567977701640-3b6cf5037f19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dinner</h5>
      <p class="card-text">Dinner is Better When <br>We Eat Together</p>
      <a href="/meals/3" class="btn btn-primary">Go to Dinners</a></a>
    </div>
  </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1567977701640-3b6cf5037f19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dessert</h5>
      <p class="card-text">Always Save Room for Dessert ;)<br></p>
      <a href="/meals/4" class="btn btn-primary">Go to Desserts</a></a>
    </div>
  </div>
</div>